BaseDatos/NodeRedBD.json
[
    {
        "id": "1a5026b90d8bd083",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f9c8b52514ef031",
        "type": "mqtt in",
        "z": "1a5026b90d8bd083",
        "name": "temperatura",
        "topic": "esp32/Temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a94736240c7bea4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "d122ce329633c879",
                "9a638b26f3c9ef33",
                "5dea6106bd568686",
                "16d4f5d9de090471"
            ]
        ]
    },
    {
        "id": "e0add7e9f0b96a7d",
        "type": "mqtt in",
        "z": "1a5026b90d8bd083",
        "name": "humedadAire",
        "topic": "esp32/HumedadAire",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a94736240c7bea4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "387a9f00d9930ec6",
                "fc31e887aca5ed9f",
                "e10ac7ccf2304c83",
                "16d4f5d9de090471"
            ]
        ]
    },
    {
        "id": "965d8a5765373e1d",
        "type": "mqtt in",
        "z": "1a5026b90d8bd083",
        "name": "humedadTierra",
        "topic": "esp32/HumedadTierra",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a94736240c7bea4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "899756d8bc449d80",
                "4c06983322052794",
                "e764c953196f898c",
                "16d4f5d9de090471"
            ]
        ]
    },
    {
        "id": "d122ce329633c879",
        "type": "ui_chart",
        "z": "1a5026b90d8bd083",
        "name": "",
        "group": "d564a36c80619208",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "10",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "387a9f00d9930ec6",
        "type": "ui_chart",
        "z": "1a5026b90d8bd083",
        "name": "",
        "group": "42a6c45f401cef94",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humedad Aire (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "899756d8bc449d80",
        "type": "ui_chart",
        "z": "1a5026b90d8bd083",
        "name": "",
        "group": "8271b6ceb1f31210",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humedad Tierra (unds.)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "28b6fe739574d64d",
        "type": "mqtt in",
        "z": "1a5026b90d8bd083",
        "name": "humedadTierraPorcentaje",
        "topic": "esp32/HumedadTierraPorcentaje",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a94736240c7bea4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 620,
        "wires": [
            [
                "148289f13f88110d",
                "863f4471a70df8fa",
                "51014f797afbeddb",
                "16d4f5d9de090471"
            ]
        ]
    },
    {
        "id": "148289f13f88110d",
        "type": "ui_chart",
        "z": "1a5026b90d8bd083",
        "name": "",
        "group": "60ebf9848a0c5750",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humedad Tierra (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "9a638b26f3c9ef33",
        "type": "ui_gauge",
        "z": "1a5026b90d8bd083",
        "name": "",
        "group": "d564a36c80619208",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "fc31e887aca5ed9f",
        "type": "ui_gauge",
        "z": "1a5026b90d8bd083",
        "name": "",
        "group": "42a6c45f401cef94",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad Aire (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "4c06983322052794",
        "type": "ui_gauge",
        "z": "1a5026b90d8bd083",
        "name": "",
        "group": "8271b6ceb1f31210",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad Tierra (unds.)",
        "label": "unidades",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "863f4471a70df8fa",
        "type": "ui_gauge",
        "z": "1a5026b90d8bd083",
        "name": "",
        "group": "60ebf9848a0c5750",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad Tierra (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 660,
        "wires": []
    },
    {
        "id": "66756445ec037923",
        "type": "mysql",
        "z": "1a5026b90d8bd083",
        "mydb": "8fa13cc4ba9bbfd5",
        "name": "",
        "x": 1290,
        "y": 140,
        "wires": [
            [
                "87ce9ab75e65d240"
            ]
        ]
    },
    {
        "id": "44aca20e648a249d",
        "type": "function",
        "z": "1a5026b90d8bd083",
        "name": "function 1",
        "func": "\nvar data = msg.payload\nvar temperatura = data[\"esp32/Temperatura\"];\n\nvar humedad_aire = data[\"esp32/HumedadAire\"];\n\nvar humedad_tierra = data[\"esp32/HumedadTierra\"];\n\nvar humedad_tierra_por = data[\"esp32/HumedadTierraPorcentaje\"];\nmsg.topic = \"INSERT INTO `registro_sensores`(`codigo`, `temperatura`, `humedad_aire`, `humedad_suelo`, `humedad_suelo_por`,`fecha_registro`) VALUES (default,\" + temperatura + \",\" + humedad_aire + \",\" + humedad_tierra + \",\" + humedad_tierra_por +\",now())\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 240,
        "wires": [
            [
                "66756445ec037923"
            ]
        ]
    },
    {
        "id": "16d4f5d9de090471",
        "type": "join",
        "z": "1a5026b90d8bd083",
        "name": "data",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "15",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 910,
        "y": 320,
        "wires": [
            [
                "a83db2ed3221c682",
                "44aca20e648a249d"
            ]
        ]
    },
    {
        "id": "5dea6106bd568686",
        "type": "debug",
        "z": "1a5026b90d8bd083",
        "name": "temperatura",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "e10ac7ccf2304c83",
        "type": "debug",
        "z": "1a5026b90d8bd083",
        "name": "humedadAire",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "e764c953196f898c",
        "type": "debug",
        "z": "1a5026b90d8bd083",
        "name": "humedadTierra",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "a83db2ed3221c682",
        "type": "debug",
        "z": "1a5026b90d8bd083",
        "name": "data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "87ce9ab75e65d240",
        "type": "debug",
        "z": "1a5026b90d8bd083",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 240,
        "wires": []
    },
    {
        "id": "de420fef42042a9a",
        "type": "mqtt in",
        "z": "1a5026b90d8bd083",
        "name": "",
        "topic": "esp32/Temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a94736240c7bea4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 920,
        "wires": [
            [
                "973b3a16d87dd43f"
            ]
        ]
    },
    {
        "id": "51195b17785495b3",
        "type": "mqtt in",
        "z": "1a5026b90d8bd083",
        "name": "",
        "topic": "esp32/HumedadAire",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a94736240c7bea4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1060,
        "wires": [
            [
                "52c9056fe59a80a8"
            ]
        ]
    },
    {
        "id": "ae6087c823787ab2",
        "type": "mqtt in",
        "z": "1a5026b90d8bd083",
        "name": "",
        "topic": "esp32/HumedadTierra",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a94736240c7bea4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1220,
        "wires": [
            [
                "9c65296a8c856bae"
            ]
        ]
    },
    {
        "id": "2b71de325f3e3491",
        "type": "mqtt in",
        "z": "1a5026b90d8bd083",
        "name": "",
        "topic": "esp32/HumedadTierraPorcentaje",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a94736240c7bea4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1380,
        "wires": [
            [
                "126005eccbf2a0c9"
            ]
        ]
    },
    {
        "id": "51014f797afbeddb",
        "type": "debug",
        "z": "1a5026b90d8bd083",
        "name": "humedadTierraProcentaje",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "52c9056fe59a80a8",
        "type": "debug",
        "z": "1a5026b90d8bd083",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 980,
        "wires": []
    },
    {
        "id": "9c65296a8c856bae",
        "type": "debug",
        "z": "1a5026b90d8bd083",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1140,
        "wires": []
    },
    {
        "id": "126005eccbf2a0c9",
        "type": "debug",
        "z": "1a5026b90d8bd083",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1300,
        "wires": []
    },
    {
        "id": "973b3a16d87dd43f",
        "type": "debug",
        "z": "1a5026b90d8bd083",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 820,
        "wires": []
    },
    {
        "id": "a94736240c7bea4d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.18.60",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d564a36c80619208",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "20cf733baacdec06",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42a6c45f401cef94",
        "type": "ui_group",
        "name": "Humedad Aire",
        "tab": "20cf733baacdec06",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8271b6ceb1f31210",
        "type": "ui_group",
        "name": "Humedad Tierra",
        "tab": "20cf733baacdec06",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60ebf9848a0c5750",
        "type": "ui_group",
        "name": "Humedad Tierra Porcentaje",
        "tab": "20cf733baacdec06",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fa13cc4ba9bbfd5",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "bd_sensores",
        "tz": "",
        "charset": "UTF8",
        "credentials": {}
    },
    {
        "id": "20cf733baacdec06",
        "type": "ui_tab",
        "name": "Sensores",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]